<div class="align-items-center d-flex flex-column height-100vh justify-content-center width-100vw">
  <% if user_signed_in? %>
    <% @chat_rooms.each do |chat_room| %>
      <div class="m-3">
        <%= link_to "Start to chat in #{chat_room.name}", chat_room_path(chat_room), class: "background-color-grape border-radius-30px color-white hover_color-white hover_opacity-0dot8 padding-y-10px-x-30px text-decoration-none" %>
      </div>
    <% end %>
  <% else %>
    <%= link_to "Sign in", new_user_registration_path, class: "background-color-grape border-radius-30px color-white hover_color-white hover_opacity-0dot8 padding-y-10px-x-30px text-decoration-none" %>
  <% end %>
</div>
